body {
    background-color: #ececec;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
    text-align: center;
    border: auto;
}

.nazvanie {
    text-align: center;
    border: auto;
}